/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/
* {
  box-sizing: border-box;
}

body {
  display: block;
  font-family: "Roboto", sans-serif;
  color: #002776;
  margin: 0;
  background: cover;
  background-image: ; 
}

header {
  background-color: #002776;
  padding: 2px;
  border: 5px;
}

h1 {
  color: #FFDF00;
  text-align: center;
}

h2 {
  margin-top: 25px;
  text-align: center;
}

h3 {
  text-align: center;
  margin-top: 1px;
  margin-bottom: 1px;
  padding: 2px;
}

main {
  display: block;
}

.start {
  text-align: center;
}

img {
  margin-top: 25px;
}

button {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  color: #FFDF00;
  background-color: #009C3B;
  padding: 10px 20px;
}

.form {
  display: block;
  margin-top: 1em;
  text-align: center;
}

form {
  font-size: 20px;
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
}

.answers {
  margin-left: 1em;
}

fieldset {
  padding: 1em;
  border: 3px solid #002776;
}

.question-form button {
  text-align: center;
  margin-top: 10px;
  font-size: 15px;
  font-weight: bold;
  color: #FFDF00;
  background-color: #009C3B;
  padding: 5px 20px;
}

#jpg {
  width: 45%;
  height: 45%;
}

#next-question-btn {
  float: right;
}

.hidden {
  visibility: hidden;
}

/* do I need a media query? */
/* Have I met the A11y requirements */





/* This country has 4 colors in their national flag which are North Texas Green  */
/* (#009C3B), Golden Yellow (#FFDF00), Catalina Blue (#002776) and White (#FFFFFF). */