/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/
* {
  box-sizing: border-box;
}



body {
  display: block;
  font-family: "Roboto", sans-serif;
  color: black;
  margin: 0;
  background: cover;
  background-image: ;
  background-color: ;
}

main {
  display: block;
}

header {
  padding: 55px 0 0 0;
  color: ;
}

.question-and-score {
  font-size: 20px;
  font-weight: 600px;
  color: ;
  text-align: center;
  list-style: none;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

fieldset {
  display: block;
  margin-inline-start: 2px;
  margin-inline-end: 2px;
  padding-block-start: 0.35em;
  padding-inline-start: 0.75em;
  padding-inline-end: 0.75em;
  padding-block-end: 0.625em;
  min-inline-size: min-content;
  border-width: 2px;
  border-style: groove;
  border-color: threedface;
  border-image: initial;
}

.hidden {
  visibility: hidden;
}

form {
  display: block;
  margin-top: 0em;
}
